<div class="row h-100 justify-content-center align-items-center">
  <div class="col content-wrapper">
    <div class="align-self-center">
      <p class="loading-text cpf-title" style="font-size:25pt;"><strong>deseja incluir seu cpf na nota?</strong></p>
      <div class="col col-btn-yes">
        <button type="button" class="btn btn-secondary btn-lg btn-block bttn" (click)="includeCPF()" ><strong>SIM</strong></button>
      </div>
      <div class="col col-btn-no">
        <button type="button" class="btn btn-secondary btn-lg btn-block bttn-dark" (click)="notIncludeCPF()" ><strong>NÃO</strong></button>
      </div>
      <div class="col col-btn-back" (click)="goBack()">
        <p><i class="fa fa-arrow-left"></i> VOLTAR</p>
      </div>
    </div>
  </div>
</div>
