<div class="modal-lg">
  <ngx-spinner bdOpacity="0" bdColor="transparent" size="small" color="#474747" type="ball-clip-rotate" [fullScreen]="false">
    <p style="color: #474747">
      <strong>{{ waitMessage }}</strong> <br>
    <small>por favor aguarde</small></p>
  </ngx-spinner>
  <form [hidden]="hideForm" [formGroup]="myForm">

      <div class="col-8 input">
        <div class="row no-gutters">
          <div class="col-12">
              <label for="codigo">use o teclado abaixo para inserir o código da comanda no campo</label>
          </div>
          <div class="col-8">
            <input name="codigo" type="text" formControlName="codigo" class="form-control input-codigo" maxlength="4" required readonly>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="deleteNumber()">
              <img src="./assets/deletar.svg" alt="delete">
            </button>
          </div>
        </div>

      </div>

      <div class="col-8 numpad-modal">
        <div class="row no-gutters">
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('1')">1</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('2')">2</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('3')">3</button>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('4')">4</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('5')">5</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('6')">6</button>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('7')">7</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('8')">8</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('9')">9</button>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="limparForm()">LIMPAR</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="insertNumber('0')">0</button>
          </div>
          <div class="col-4 btn-wrapper">
            <button type="button" class="btn btn-secondary btn-pad" (click)="onSubmit()" [disabled]="myForm.invalid">
              <img src="./assets/send.svg" alt="delete">
            </button>
          </div>
        </div>
      </div>
  </form>
  <div class="modal-error" [hidden]="!hide">
      <p style="color: #474747">
        <i class="fa fa fa-exclamation-triangle fa-x brand-color animated flip" aria-hidden="true"></i><br>
        <strong>Desculpe o incomodo, mas não foi possível verificar seu código.</strong>
      </p> <br>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar pagamento</button>
  </div>
</div>
