.col-8.numpad, .col-8.input {
    margin: 0 auto 20px;
}
label {
  font-size: 14px;
  margin: 20px 0 10px;
  font-weight: 700;
  color: #474747;
  line-height: 16px;
}
.col-8.numpad-modal {
  margin: 0 auto;
}
.col-8.input input {
  padding: 0 22px!important;
  margin: 0!important;
  width: 100%!important;
  height: 40px!important;
  font-size: 19px!important;
}
.col-4.btn-wrapper {
  margin: 0;
}
button.btn.btn-secondary.btn-pad {
  width: 85px;
  margin: 0 auto 10px;
  display: block;
}
.modal-error {
  padding: 20px;
  float: left;
}
.modal-error p {
  color: #474747;
  font-size: 20px;
  margin: 0;
  text-align: center;
  line-height: 25px;
}
.modal-error button.btn.btn-secondary {
  margin: 0 auto;
  display: block;
}
