<div class="row h-100 justify-content-center align-items-center">
  <div class="col content-wrapper">
    <div class="align-self-center">
      <p class="loading-text cpf-title" style="font-size: 25pt;"><strong>Selecione abaixo o tipo de cartão <br>que será usado para pagar sua comanda</strong></p>
      <div class="col col-btn-debit">
        <button type="button" class="btn btn-secondary btn-lg btn-block bttn-dark" (click)="selectCard(2)"><i class="fa fa-credit-card-alt" aria-hidden="true"></i><strong>CARTÃO DE DÉBITO</strong></button>
      </div>
      <div class="col col-btn-credit">
        <button type="button" class="btn btn-secondary btn-lg btn-block bttn-dark" (click)="selectCard(3)"><i class="fa fa-credit-card-alt" aria-hidden="true"></i><strong>CARTÃO DE CRÉDITO</strong></button>
      </div>
      <div class="col col-btn-lunch">
        <button type="button" class="btn btn-secondary btn-lg btn-block bttn-dark" (click)="selectCard(6)"><i class="fa fa-cutlery" aria-hidden="true"></i><strong>CARTÃO REFEIÇÃO</strong></button>
      </div>
    </div>
  </div>
</div>
