.col.col-btn-debit {
    margin-top: 50px;
}
.col.col-btn-credit {
    margin: 50px 0px;
}
.btn-secondary {
    background-color: inherit!important;
}
i.fa.fa-credit-card-alt, i.fa.fa-cutlery {
    margin-right: 10px;
}