<div class="row justify-content-center align-items-center">
  <div class="col content-wrapper comanda-content">
    <div class="align-self-center">
      <p class="loading-text">
        <small style="font-size: 110%">Abaixo seguem os itens da comanda nº: <strong>{{ codigo }}</strong></small>
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center" *ngIf="comandaPay">
  <div class="col content-wrapper payaction-content">
    <div class="produto-wrapper" id="style-3"
    [style.overflowY]="isScroll ? 'scroll' : 'inherit'"
    [style.maxHeight]="isScroll ? '700px' : 'inherit'">
      <div class="col-12 item-wpr" *ngFor="let itens of comandaPay.itens">
        <div class="col-6 item-info">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ itens.desc }}</h4>
              <h5 class="card-subtitle mb-2 text-muted">cód. produto : <strong>{{ itens.cod }}</strong></h5>
              <h5 class="card-subtitle mb-2 text-muted">qtde: <strong>{{ itens.qtd }}</strong></h5>
            </div>
          </div>
        </div>
        <div class="col-6 price-info">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ itens.val | currency:'BRL':'R$ ' }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center" *ngIf="comandaPay">
  <div class="col content-wrapper payaction-content" style="padding: 0;margin: -10px 0 40px;">
    <div class="col-6 item-info" style="background: transparent;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="font-size: 2.4rem;margin: 0.37rem 0;font-weight: 700;">TOTAL</h4>
        </div>
      </div>
    </div>
    <div class="col-6 total-price-info" style="background: transparent;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ comandaPay.total | currency:'BRL':'R$ ' }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <div class="col content-wrapper payaction-content bttn" (click)="payComanda()">
    <p class="loading-text">
      <strong>pagar comanda</strong>
    </p>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <div class="col content-wrapper payaction-content bttn-dark" style="margin-top: 30px;" (click)="cancelComanda()">
    <p class="loading-text">
      <strong>cancelar pagamento</strong>
    </p>
  </div>
</div>
