<div class="col content-wrapper">
  <div class="row justify-content-center align-items-center" style="margin: 50px 0 0;">
    <p class="loading-text">
      <strong>ESSA COMANDA NÃO ESTÁ MAIS DISPONÍVEL!</strong>
    </p>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col content-wrapper payaction-content bttn-dark" style="margin-top: 30px;" (click)="back()">
      <p class="loading-text">
        <strong>voltar</strong>
      </p>
    </div>
  </div>
</div>
