p.identificacao-title {
  margin: 30px 0 0;
  font-size: 70px;
  color: #ffffff;
  text-align:center;
}
input, input::-webkit-input-placeholder {
  border: none!important;
  border-bottom: 4px solid #4670d8!important;
  padding: 0;
  outline: none!important;
  box-shadow: none!important;
  margin: 0px auto 158px!important;
  background: transparent;
  color: #ffffff!important;
  font-size: 95px!important;
  text-align: center;
  border-radius: 0px;
  width: 100%!important;
  height: 158px!important;
  vertical-align: baseline;
}
small.invalid-cpf {
  font-family: itauBd, Arial, Helvetica, sans-serif;
  position: absolute;
  top: 414px;
  left: 25%;
  font-size: 21px;
  color: rgba(255,255,255,0.65);
}
.form-control:disabled, .form-control {
  background-color: transparent!important;
}
