
<div class="card card-block w-100 mx-auto">
    <div class="row" sytle="height:40vh;">
      <div class="col-sm-12 col-title col-identificacao"></div>
      <div class="col-sm-12 col-conteudo conteudo-identificacao">
        <p class="identificacao-title">insira seu CPF<br>no campo abaixo</p>
        <form class="example-form" [formGroup]="crmForm">
          <input
          appFocus
          type="text" maxlength="14" class="form-control identificacao-input"
          formControlName="cpf"
          (focus)="toggleShowDiv('divA')">
          <small class="invalid-cpf" *ngIf="!crmForm.get('cpf').valid && crmForm.get('cpf').touched && crmForm.get('cpf').value.length === 14">O CPF INFORMADO É INVÁLIDO!</small>
        </form>
        <div class="col-sm-12 numpad divA" [@slideInOut]="animationState">
          <numpad (numValue)="recebeValue($event)" [validado]="!crmForm.get('cpf').valid && crmForm.get('cpf').touched"></numpad>
        </div>
      </div>
    </div>
</div>

