.mat-button-toggle-group {
  border: 0 !important;
  width: 100% !important;
}

.mat-button-toggle {
  font-size: 20pt !important;
  font-weight: bold;
  width: 100% !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 10px;
  margin: 3px;
  border: 0px !important;
}

.mat-button-toggle-checked {
  font-weight: normal !important;
}

.btn-confirm {
  font-size: 18pt !important;
  padding: 2%;
  border-radius: 10px;
}
